<p>異国の地、中国上海に降り立ったのは８年前の２００９年、海外旅行も行ったこともないのに、思い切った決断だな〜と自分のことを褒めてあげたいです笑。</p>

<p style=" font-size: 30px;font-weight: bold;">若いうちに海外に行くといいことをあげるよ</p>

<style>
 p{
	font-size:18px;
	color:black;
}

</style>

<p style="font-size:32px">①色々なハプニングに対しても対応できる体力がある。</p>

<p style="color:blue">②失敗がたくさんできる。</p>

<p style="color:navy; background:#CFF;">③日系企業の様々なお偉い方と知り合いになれる。</p>

<p>④日本で起こっていることを客観的に理解でる。</p>






<%= link_to 'トップ', 'top' %>
