<p>音楽は中学時代はなぜか塾の先生にギターを習い、高校生になったらバンドを組んで有名になると意気込んでいました。</p>
<p>しかし、高校の部活紹介で吹奏楽部の演奏に衝撃を受け、ギターをフルートに持ち替え、高校生活のほとんどを音楽に費やしました。</p>
<p>今は天津のバーなどで細々とギターを弾いております。</p>
<p>最近は一眼レフカメラを買い、妻と私どちらが上手に撮れるかを競っております。下記のリンクで写真が見られますので是非どうぞ！</p>

<style>
div{
     width:300px;
     height:300px;
     background-image: url(http://wp-p.info/css-biginner/img/19_01.jpg);
     background-repeat: no-repeat;
     background-position: center;
}
</style>

<%= link_to '写真集', 'hobby/new' %>
<%= link_to 'トップ', 'top' %>
